//----------------------
/*PATRON DE COLORES*/
//----------------------
$texto: #363636;
$principal: #1e88e5;
$secundario: rgba(#f1000b, 0.93);
$menu: rgba(#000000, 0.97);

html {
  font-size: 15px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $texto;
}

.bienvenidos {
  background: url("../images/fondo-encabezado.jpg") no-repeat center top;
  color: #fff;
  background-size: cover; //hace que el fondo se vea mejor
  height: 100vh; //indica que el 100% de la altura de la pantalla
  display: flex;
  flex-direction: column;
}

.encabezado {
  background: $menu;
  color: #fff;
  padding: 0.5rem 0;
}

.encabezado .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.encabezado .logo img {
  width: 150px;
  height: auto;
}
/*ESTILOS PARA EL BOTON MENÚ*/
.btn-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 0.5rem;
  background: transparent;
  color: #fff;
  margin-left: auto;
}
/*Evita que el foco del navegador se muestre es un margen al rededor del elemento*/
.btn-menu:focus {
  outline: 0;
}

#menu-principal {
  flex: 1 1 100%;
}

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0;
}

#menu-principal ul a {
  display: block;
  padding: 0.8rem 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #fff;
  text-decoration: none;
}

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  color: $principal;
}

.texto-encabezado {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.texto-encabezado .margen {
  margin-top: 4rem;
}

.ita {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.texto-encabezado .container p {
  margin-top: 1.5rem;
}

.btn-primary {
  color: #fff;
  background-color: $secundario;
  border-color: transparent;
  margin-top: 4rem; //Valor original 1rem
  transition: all 0.5s ease;
}

.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover {
  color: #aa0200;
  background-color:#fff ;
  border-color: transparent;
  font-weight: bold;
}

.flecha-scroll a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  animation: flecha-scroll 2s ease-in-out infinite;
}
@keyframes flecha-scroll {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(6px);
  }

  to {
    transform: translateY(0);
  }
}
/*SECCIÓN CONÓCENOS*/
.valores .col-xs-6 ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0;
}

.valores h4 {
  color: #363636;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.8rem;
}

.valores ul,
.valores ul li {
  list-style: none;
}

.conocenos .container .fa,
.valores ul li .fa {
  list-style: none;
  font-size: 2.3rem;
  //background: $principal;
  border-radius: 50%;
  border: solid 3px $principal;
  overflow: hidden;
  width: 4.7rem;
  height: 4.7rem;
  line-height: 4.7rem;
  color: $principal;
}

.conocenos .container .fa {}

.container .valores ul {
  margin: 1.5rem 0;
}
/*SECCIÓN TU MEJOR ELECCIÓN*/
.tu-mejor-eleccion h2 span {
  color: $secundario;
}

.tu-mejor-eleccion ul,
.tu-mejor-eleccion ul li {
  list-style: none;
}

.tu-mejor-eleccion ul li {
  min-height: 9.5rem;
  //background: red;
}

.tu-mejor-eleccion ul li .fa {
  list-style: none;
  font-size: 2.3rem;
  background: $principal;
  border-radius: 50%;
  //border: solid 3px $principal;
  overflow: hidden;
  width: 4.7rem;
  height: 4.7rem;
  line-height: 4.7rem;
  color: #fff;
}

.contenedor-eleccion h4 {
  color: #363636;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.8rem;
}
/*SECCIÓN SERVICIOS*/

.servicios {
  background: url("../images/fondo-servicios.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
}

.servicios img {
  flex: 0 0 70px;
  overflow: hidden;
  margin-right: 1rem;
}

.servicios h3 {
  flex: 1 1 0;
  margin: 0;
  font-size: 1.2rem;
}

.servicios article {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
/*SECCIÓN FOOTER*/
.pie-pag {
  background: #212121;
  color: #fff;
  text-align: center;
}

.pie-pag .redes-sociales {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pie-pag .redes-sociales a {
  color: #fff;
  font-size: 2rem;
  margin: 0 0.8rem;
}

.pie-pag .redes-sociales .fa-twitter:hover {
  color: #1dcaff;
}

.pie-pag .redes-sociales .fa-facebook:hover {
  color: #3b5998;
}

.pie-pag .redes-sociales .fa-youtube:hover {
  color: #c4302b;
}

.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: $secundario;
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  transition: all 0.5s ease;
}

.ir-arriba:focus,
.ir-arriba:hover {
  outline: 0;
  text-decoration: none;
  color: $principal;
}


/*MEDIAS QUERIES*/
@media (min-width:768px) {
  #menu-principal{
    height: auto !important;
    display: block;
    flex: 0 1 auto;
    margin-left: auto;
    order: 1;
  }
  #menu-principal ul{
    display: flex;
    margin: 0;
  }
  #menu-principal ul li a{
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    transition: all .5s ease;
  }
  #menu-principal ul li.active a,
  #menu-principal ul li a:hover{
    color: $principal;
    border-bottom: 4px solid;
  }

  /*SECCIÓN SERVICIOS*/
  .servicios article {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 1rem 0;
  }
  .servicios img {
    flex: 0 0 120px;
    overflow: hidden;
    margin-right: 0;
    margin-bottom: 1rem;
    transition: all 1s ease;
  }
  .servicios article:hover img{
    transform: rotateY(360deg);
    transform-style: preserve-3d;
  }
  .servicios h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

@media (min-width:992px) {
  html{
    font-size: 16px;
  }
  .tu-mejor-eleccion ul li {
    display: flex;
    min-height: 7rem;
  }
  .tu-mejor-eleccion ul li .fa {
    text-align: center;
    flex: 0 1 auto;
    margin-right: 1rem;
    transition: all 1s ease;
  }
  .tu-mejor-eleccion ul li:hover .fa {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
  }
  .contenedor-eleccion{
    flex: 1 0 0px;
  }
  .tu-mejor-eleccion ul li .contenedor-eleccion h4{
    margin-top: 0;
    font-size: 1rem;
  }
  .tu-mejor-eleccion ul:first-child .fa{
    order:1;
    margin-left: 1rem;
    margin-right: 0;
  }
  .tu-mejor-eleccion ul li p{
    font-size: .85rem;
  }


}
